.text {
  color: rgb(203, 35, 35);
  margin-left: 30px;
  margin-right: 30px;
  text-align: left;
  font-size: 16px;
  margin-top: 50px;
  font-family: "Calibri", cursive;
  font-style: normal;
}

.text-1 {
  font-size: 19px;
}
